.color {
	color: #222222;
}
.color_rgb {
	color: rgb(255, 0, 0);
}
.color_rgba {
	color: rgba(255, 0, 0, 0.8);
}
.color_hsl {
	color: hsl(360, 100%, 0%)
}
.color_hsla {
	color: hsla(360, 100%, 0%, 0.5)
}
.color_aqua {
	color: aqua;
}
.color_black {
	color: black;
}
.color_blue {
	color: blue;
}
.color_fuchsia {
	color: fuchsia;
}
.color_gray {
	color: gray;
}
.color_green {
	color: green;
}
.color_lime {
	color: lime;
}
.color_maroon {
	color: maroon;
}
.color_navy {
	color: navy;
}
.color_olive {
	color: olive;
}
.color_purple {
	color: purple;
}
.color_red {
	color: red;
}
.color_silver {
	color: silver;
}
.color_teal {
	color: teal;
}
.color_white {
	color: white;
}
.color_yellow {
	color: yellow;
}
