.visibility_visible {
    visibility: visible;
}
.visibility_hidden {
    /* 화면에서 요소를 감춥니다. 하지만 크기는 그대로 유지하기 때문에 배치에 영향을 미칩니다. */
    visibility: hidden;
}
.visibility_collapse {
    /* 표의 행, 열, 행 그룹, 열 그룹 등에서 지정하면 서로 겹치도록 조절합니다. 그 외의 영역에서 사용하면 hidden처럼 처리합니다. */
    visibility: collapse;
}
.visibility_visible {
    visibility: visible;
}
.visibility_visible {
    visibility: visible;
}


.scrollbar::-webkit-scrollbar {
    display:none; /* Chrome, Safari, Opera*/
}

.class {
    /* The background-image is not repeated. The image will only be shown once */
	background-repeat:no-repeat;
}

.cursor_pointer {
    cursor: pointer;
}

.display_inline {
    /* 기본값; 사이즈 설정 불가; */
    display: inline;
}
.display_block {
    /* 기본값; 행 전체 차지; */
    display: block;
}
.display_inline_block {
    /* 사이즈 변경 가능 */
    display: inline-block;
}
.display_flex {
    display: flex;
}
.display_inline_flex {
    display: inline-flex;
}
.display_none {
    display: none;
}
.display_grid {
    display: grid;
}
.display_inline_grid {
    display: inline-grid;
}

.overflow_visible {
    /* 기본값; 넘친 내용 출력; */
    /* The min-width: auto and min-height: auto defaults apply only when overflow is visible. */
    /* If the overflow value is not visible, the value of the min-size property is 0. */
    /* Hence, overflow: hidden can be a substitute for min-width: 0 and min-height: 0. */
    overflow: visible;
}
.overflow_hidden {
    /* 넘친 내용 숨김; */
    overflow: hidden;
}
.overflow_auto {
    /* 넘친 내용 숨김; 스크롤 바 출력; */
    overflow: auto;
}
.overflow_overlay {
    /* auto와 동일하게 동작하지만, 스크롤바가 공간을 차지하는 대신 콘텐츠 위에 위치합니다. Webkit(Safari 등)과 Blink(Chrome 또는 Opera 등) 기반 브라우저만 지원합니다. */
    overflow: overlay;
}

.user_select_auto {
    /* default; */
    user-select: auto;
}
.user_select_none {
    /* 더블 클릭에도 하이라이트 불가능 */
    user-select: none;
}
.user_select_text {
    /* 더블 클릭에도 하이라이트 불가능 */
    user-select: text;
}
.user_select_all {
    /* 더블 클릭에도 하이라이트 불가능 */
    user-select: all;
}

.text_overflow_ellipsis {
    text-overflow: ellipsis;
}
.white_space_nowrap {
    white-space: nowrap;
}

.object_fit_contain {
    object-fit: contain;
}

.cursor_pointer {
    cursor: pointer;
}
